# How to manage missing values

### Load package and prepare a dataset

In [1]:
library(tidyverse)
dat = data.frame(
  id = c(1,1,1,1, 2,2,2,2, 3,3,3,3),
  quarter = rep(c("Jan", "Apr", "Jul", "Oct"), times=3), #repeat three times
  spending = c(22,35,10,64, 55,23,NA,10, 42,NA,NA,18)
  )
dat

-- Attaching packages --------------------------------------- tidyverse 1.2.1 --
v ggplot2 3.1.0     v purrr   0.2.5
v tibble  1.4.2     v dplyr   0.7.8
v tidyr   0.8.2     v stringr 1.3.1
v readr   1.1.1     v forcats 0.3.0
-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

   id quarter spending
1  1  Jan     22
2  1  Apr     35
3  1  Jul     10
4  1  Oct     64
5  2  Jan     55
6  2  Apr     23
7  2  Jul     NA
8  2  Oct     10
9  3  Jan     42
10 3  Apr     NA
11 3  Jul     NA
12 3  Oct     18

### Identify missing values in above dataset

In [2]:
dat %>%
  group_by(id) %>% 
  summarise(missing=sum(is.na(spending)))

  id missing
1 1  0
2 2  1
3 3  2

Note:
* From above table, it is clear there there no missing values in 'spending' column where id = 1
* There is 1 row having missing value in 'spending' column where id =2
* There are 2 rows having missing values in 'spending' column where id = 3

## Management of missing values

### 1. Removing missing values

In [3]:
na.omit(dat)

   id quarter spending
1  1  Jan     22
2  1  Apr     35
3  1  Jul     10
4  1  Oct     64
5  2  Jan     55
6  2  Apr     23
8  2  Oct     10
9  3  Jan     42
12 3  Oct     18

### 2. Replace missing values with the average of the group
This is a most common method to replace missings values within the group. I would recommed to check the distribution of data before deciding to replace missings with mean or median. In this example, I will use mean.

In [5]:
dat %>% 
  group_by(id) %>% 
  mutate(spending_mean = ifelse(is.na(spending), mean(spending, na.rm=T), spending))

   id quarter spending spending_mean
1  1  Jan     22       22.00000
2  1  Apr     35       35.00000
3  1  Jul     10       10.00000
4  1  Oct     64       64.00000
5  2  Jan     55       55.00000
6  2  Apr     23       23.00000
7  2  Jul     NA       29.33333
8  2  Oct     10       10.00000
9  3  Jan     42       42.00000
10 3  Apr     NA       30.00000
11 3  Jul     NA       30.00000
12 3  Oct     18       18.00000

### 3. Filling the missings with other values within the group
This approach is useful when you need to replace the missing with the former or next value within the group. Filling of missing with other values can be in two directions, up and down.

#### 3.1 Replace the missing value with it's previous value (fill down)
When the direction is down the missing is replaced with the previous value

In [12]:
dat_fill_down = dat %>% 
  group_by(id) %>% 
  fill(spending, .direction = c("down"))
dat_fill_down

   id quarter spending
1  1  Jan     22
2  1  Apr     35
3  1  Jul     10
4  1  Oct     64
5  2  Jan     55
6  2  Apr     23
7  2  Jul     23
8  2  Oct     10
9  3  Jan     42
10 3  Apr     42
11 3  Jul     42
12 3  Oct     18

#### 3.1 Replace the missing value with it's next available value (fill up)
When the direction is up the missing is replaced with the next value

In [13]:
dat_fill_up = dat %>% 
  group_by(id) %>% 
  fill(spending, .direction = c("up"))
dat_fill_up

   id quarter spending
1  1  Jan     22
2  1  Apr     35
3  1  Jul     10
4  1  Oct     64
5  2  Jan     55
6  2  Apr     23
7  2  Jul     10
8  2  Oct     10
9  3  Jan     42
10 3  Apr     18
11 3  Jul     18
12 3  Oct     18